
body
{
	margin: 1em;
	margin-right: 10em;
	margin-left: 10em;
	background-color: #fff8e8;
}



/******************LE BANDEAU DE NAVIGUATION******************/
nav a 
{
	color: black;
}

nav a:visited
{
	color: black;
}

nav a:active
{
	text-shadow: 0px 0px 50px brown;
}

nav
{
	border: 1px solid grey;
	border-radius: 5px;
}


nav ul
{
	display: flex;
	justify-content: center;
	list-style-type: none;
}

nav li
{
	margin-right: 3em;
	margin-left: 3em;
	padding: 0.8em;
	text-align: center;
	border: 1px solid grey;
	background-color: #efe6bd;
	border-radius: 3px;
    
}

nav a:link
{
	text-decoration:none;
	font-size: 1.3em;
}

nav a:hover
{
	text-decoration: underline;
}
/*************************************************************/

dt
{
	font-size: 1.16em;
}

p, dl, h1, ul
{
	letter-spacing: 0.025em;
	word-spacing: 0.05em;
}

p, dl
{
	font-size: 1.1em;
}

h1
{
	font-size: 1.5em;
	margin-top: 3em;
}

li
{
	margin-top: 1em;
}

a:visited
{
	color: grey;
}

footer
{
	clear: both;
	color: grey;
	margin-top: 8em;
	text-align: center;
}
